@charset "UTF-8";
import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap');





.color-primary-0 { color: #F755BE }	/* Main Primary color */
.color-primary-1 { color: #FFF2FA }
.color-primary-2 { color: #F996D6 }
.color-primary-3 { color: #F718A9 }
.color-primary-4 { color: #F500A0 }
:root {
    --fundo :     #F996D6;
    --Cabeçalho : #FFF2FA; 
    --textos :    #000000;
    --fMenu :     #F718A9;
    --cor2 :      #F755BE;
    --cor3:       #F500A0;

    --fontePadrao : Arial, Verdana, Helvetica, sans-serif;
    --fonteDestaque :'Roboto', sans-serif;

}

* {
    margin:  0px;
    padding: 0px;
}

body{
    background-color: var(--fundo);
    font-family: var(--fontePadrao);
    
}

header {
    background-image: linear-gradient(to bottom, var(--fundo), var(--fMenu));
    min-height: 150px;
    text-align: center;
}

header > h1 {
    color: var(--Cabeçalho);
    font-family: var(--fonteDestaque);
    font-size: 3em;
    padding-top: 20px;
    padding-bottom: 20px;
}
header > p {
    color: white;
    font-family: var(--fontePadrao);
    font-size: 1.2em;
    max-width: 500px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
}
nav {
    background-color: var(--fMenu);
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.363);
    margin: auto;
    
 }
 nav > a {
    color:  white;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    
 }
 nav a:hover {
    background-color: white;
    color: var(--cor2);
    border-radius: 15px;
 }
main {

    min-width: 300px;
    max-width: 1000px; 
    margin: auto; 
    margin-bottom: 20px;
    padding: 20px;
    background-color:  white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.521);
    border-radius: 10px;
  
 }

main img {
    width: 100%;
 }
main h1 {
    color: var(--fMenu);
    font-size: 1.5em;
    padding-top: 10px;
}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
}
main strong{
    color: var(--cor3);
    font-weight: bold;
    background-color: #FFF2FA;
}

main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--fMenu);
    background-color: var(--fundo);
    padding: 2px 6px;

}
main a:hover{
    text-decoration: underline;
    color: var(--cor2);

}
main h2 {
    color: var(--Cabeçalho);
    background-image: linear-gradient(to right, var(--cor3), transparent);
    text-indent: 10px;
}
div.video{
    background-color: #F996D6;
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 50%;
    position: relative;
}
div.video > iframe{
    position: absolute ;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside {
    background-color: var(--cor2);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.486);   
}
aside h3{
    background-color: #F718A9;
    color: white;
    padding: 5px 5px 5px 10px;
    border-radius: 10px 10px 0% 0px;
    margin: -10px -10px 0px -10px;
}
aside > ul {
    list-style-position: inside;
    list-style-type: '\2714';
    columns: 2;
    background-color: #F996D6;
    border-radius: 10px;
    padding: 20px;
}

footer{

    background-color: #F718A9;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
}